@import url('https://fonts.googleapis.com/css2?family=Futura:wght@300;400;500&display=swap');

/* Agrega esta parte al principio de tu archivo CSS */
.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
  height: 20vh;
}

.title-container h1 {
  color: white;
  font-size: 2rem;
  margin: 0;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 767px) {
  .title-container {
    height: 30vh; /* ajusta la altura según prefieras en dispositivos móviles */
  }

  .title-container h1 {
    font-size: 1.5rem;
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Futura', sans-serif;
  background-color: #222;
  color: white;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  max-width: 800px;
}

.select-day-text {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

#day {
  background-color: #04ac9c;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: 'Futura', sans-serif;
  font-size: 16px;
  margin-bottom: 1rem;
  padding: 8px;
  width: 100%;
  max-width: 200px;
}

.plans {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 2rem;
}

.plan {
  background-color: #77ccbc;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  margin-bottom: 2rem;
  padding: 2rem;
  width: 100%;
  max-width: 500px;
}

.plan.nutrition {
  background-color: #7cccc4;
}

.plan h2 {
  margin: 0;
  margin-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
}

.plan-content {
  margin-top: 1rem;
}

.plan ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.plan li {
  margin-bottom: 0.5rem;
  font-weight: 300;
  font-size: 0.9rem;
}

.video-btn {
  background-color: #04ac9c;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  margin-left: 10px;
  padding: 6px 12px;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0,

0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
